{% load staticfiles %}
<div class="container">
	<div class="row">
		<div class="col-sm-12 text-center">
			<p class="disclaimer">Postcards arrive within 7-10 days. Letters & packages arrive just after Thanksgiving.
				Postcards are mailed First Class. Letters & packages mailed First Class or Priority Mail.</p>
			<ul class="foot_1">
				<li>
					<a target="_blank" href="javascript:void(0)">Support: (855)-341-3920, Email<span class="line">|</span></a>
				</li>
				<li>
					<a target="_blank" href="javascript:void(0)">Privacy Policy<span class="line">|</span> </a>
				</li>
				<li>
					<a target="_blank" href="javascript:void(0)">Shipping & Return Policies</a>
				</li>
			</ul>
			<div class="foot_logo">
				<img src="{% static 'images/footer_logo.png' %}">
			</div>
			<p class="copyright">Copyright © 2017 Letters From Santa</p>
		</div>
	</div>
</div>
